  <script type="text/javascript" src="{{ "/js/greensock/TweenMax.min.js"| prepend: site.baseurl }}"></script>
  <script type="text/javascript" src="{{ "/js/jquery.js"| prepend: site.baseurl }}"></script>
  <script type="text/javascript" src="{{ "/js/jquery.ripples.js"| prepend: site.baseurl }}"></script>
  <script type="text/javascript" src="{{ "/js/jquery.textillate.js"| prepend: site.baseurl }}"></script>
  <script type="text/javascript" src="{{ "/js/jquery.lettering.js"| prepend: site.baseurl }}"></script>
  <script type="text/javascript" src="{{ "/js/main.js"| prepend: site.baseurl }}"></script>
