<!DOCTYPE html>  
<html lang="en">
  {% include headI.html %}
<body>
  <div id="animation" >
    <!--
    <div id="scene" >
        <img id="boat" src="images/boat.png" alt="mini-boat" />
        <img id="followBoat" src="images/followBoat.png" alt="follow-boat" />
    </div>
    --!>
    <div class="poem">
        <div id="poem1"> 隱約雷鳴   陰霾天空</div>
        <div id="poem2"> 但盼風雨來 </div>
        <div id="poem3"> 能留你在此 </div>
        <!-- <div id="poem1"> 隐约雷鸣   阴霾天空</div> -->
        <!-- <div id="poem2"> 但盼风雨来  </div> -->
        <!-- <div id="poem3"> 能留你在此</div> -->
    </div>

    <div id='enter' >
        <img id="enterButton" src="/images/button.png" href="freeMind.html" alt="Enter" />
    </div> 
  </div>
  {% include headI-js.html %}
</body>
</html>
